.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.modal img {
  max-width: 100px;
  margin-bottom: 10px;
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
}

.close-modal-button {
  background-color: transparent;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

.modal-button {
  margin-top: 20px;
}
